.scroller {
  height: 100%;
  scrollbar-gutter: stable;
}

.item {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto 2.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.spacerTop {
  height: 5rem;
}

.spacerBottom {
  height: 10rem;
}
