.pane {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.headerBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.inputBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
}
