.layout {
  display: flex;
  height: 100dvh;
}

.sidebar {
  display: flex;
}

.main {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.headerBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .headerBar {
    display: block;
  }
}
